html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202020;
  font-family: 'Courier New', Courier, monospace;
  color: grey;
}

h1 {
  font-size: 5em;
}

label {
  font-size: 2em;
}
